ul.drop {
  right: 50px;
  top: 90px;
  width: 12%;
  border-radius: 18px;
}

ul.drop  li:hover {
  width: 100%;
  background-color: rgb(0 20 47);
}

ul.drop  li:active {
  width: 100%;
  background-color: rgb(255, 255, 255);
}