main {
  margin: 50px;
  padding-bottom: 20px !important;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

label {
  margin: 5px;
  padding: 10px !important;
}

input.custom-placeholder::placeholder {
  color: lightgray;
}

a.nav-link.active {
  color: black !important;
}